/* src/components/Feed.css */

.feed {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
  
  .feed::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Webkit browsers like Chrome */
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  @media (max-width: 1024px) {
    .feed {
      margin-left: 0; /* Remove left margin on smaller screens */
    }
  }
  