/* src/pages/Dashboard.css */

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.dashboardContainer {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 60px); /* Adjust height to account for the navbar */
  margin-top: 60px; /* Add top margin equal to the navbar height */
}
